In [1]:
#import libraries
import pandas as pd
from datetime import datetime, timedelta
import hashlib

In [2]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2008
#file naming structure changes in 2009 so that will be done in a diffrent loop
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:

        #account for misslabeling in october of 2007
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = list(year_data.columns)
            miss_label = list(fuel_month.columns)
            #correct misslabel
            fuel_month.columns = col_list
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year == 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            #rename the index to match naming pattern
            fuel_month.index = fuel_month.index.strftime('%Y-%m-%d') + ' - ' + fuel_month['Fuel']
            fuel_month = fuel_month.drop(columns=['Fuel'])
            #filter out old index records
            fuel_month = fuel_month[fuel_month.index.str.contains('-')]
            year_data = year_data.append(fuel_month)            

        elif year > 2008 and year < 2016 and year != 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year == 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year > 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0)
            year_data = year_data.append(fuel_month)
        

        else:   
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            year_data = year_data.append(fuel_month)
        
    # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the data from all months and years
all_data

,Daily MWH,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,22:45,23:00,23:15,23:30,23:45,0:00,01:15 (DST),01:30 (DST),01:45 (DST),02:00 (DST)
01/01/07 - Coal,314608.639900,3376.329577,3368.077206,3365.003007,3364.700590,3337.219223,3340.401121,3338.779986,3341.014301,3375.998789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Gas,272456.952300,2250.333739,2252.727205,2257.902081,2259.768252,2204.443372,2170.116980,2178.863551,2179.605680,2140.655363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Hydro,688.956912,3.814499,3.809214,3.811659,3.810560,3.810705,3.773842,3.772936,3.637019,3.350387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Nuclear,120060.021600,1250.245128,1249.936172,1250.009397,1250.187850,1250.503540,1250.240947,1250.433454,1250.212841,1250.094833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Oth,3743.903058,40.970577,41.076414,40.996679,41.211779,39.875432,38.641280,39.789598,39.754927,39.909498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1277.521610,1277.601614,1277.509454,1277.312147,1277.488193,1277.276178,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.097469,5.219245,18.643366,15.002416,4.763281,1.580591,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-57.648902,-52.646814,-20.507550,-10.509732,-10.269654,-44.427072,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5627.661612,5613.644307,5509.516104,5489.178341,5450.046703,5506.060958,NaN,NaN,NaN,NaN

In [10]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2022
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.columns = col_list
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year == 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month['Fuel']
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year > 2008 and year < 2016 and year != 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year == 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year > 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        else:   
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)
        
    # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the reshaped data with columns for Date and Time, Fuel, and Demand
print(all_data)

    Date - Fuel  Fuel         Demand DateFuel Date-Fuel  \
0           NaT   NaN  629217.279792      NaT       NaT
1           NaT   NaN  544913.904602      NaT       NaT
2           NaT   NaN    1377.913824      NaT       NaT
3           NaT   NaN  240120.043186      NaT       NaT
4           NaT   NaN    7487.806116      NaT       NaT
..          ...   ...            ...      ...       ...
305         NaT   NaN  245402.146536      NaT       NaT
306         NaT   NaN    3164.960676      NaT       NaT
307         NaT   NaN   72936.609972      NaT       NaT
308         NaT   NaN   -4026.867786      NaT       NaT
309         NaT   NaN  895599.084165      NaT       NaT

                         Date
0                         NaT
1                         NaT
2                         NaT
3                         NaT
4                         NaT
..                        ...
305 2022-12-31 00:00:00+00:00
306 2022-12-31 00:00:00+00:00
307 2022-12-31 00:00:00+00:00
308 2022-12-31 00:00:00+00:00
309 2022-12-31 00:00:00+00:00

[48992 rows x 6 columns]

In [3]:
#all_data['Total'] = all_data['Total'].fillna(all_data['Daily MWH'])
#all_data[all_data.columns[96]] = all_data[all_data.columns[96]].fillna(all_data[all_data.columns[97]])
#all_data = all_data.drop(columns=['Daily MWH',all_data.columns[97]])

In [11]:

all_data.to_csv('test_output.csv', index=True)

In [3]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2022
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            data_pivot = fuel_month.pivot
            #col_list = fuel_month.columns.tolist()
            #fuel_month.columns = col_list
            #fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            #fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            #fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            #fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            #year_data = year_data.append(fuel_month)


                # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the reshaped data with columns for Date and Time, Fuel, and Demand
print(all_data)

Empty DataFrame
Columns: []
Index: []

In [4]:
# Create a sample DataFrame
data = {
    'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40]
}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
df

Original DataFrame:

         Date Category  Value
0  2022-01-01        A     10
1  2022-01-01        B     20
2  2022-01-02        A     30
3  2022-01-02        B     40

In [5]:
# Pivot the DataFrame
pivot_df = df.pivot(index='Date', columns='Category', values='Value')

# Display the pivoted DataFrame
print("\nPivoted DataFrame:")
pivot_df

Pivoted DataFrame:

Category     A   B
Date
2022-01-01  10  20
2022-01-02  30  40

In [143]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
#months = ['Jan', 'Feb']
years = [2007, 2008]
#years = [2008]
fuel_year = pd.DataFrame()
for year in years:
    path = f'data/IntGenByFuel{year}.xls'

    for month in months :
        fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0, header=None)
        fuel_month['Date'] = fuel_month.index.str.split('-', 1).str[0]
        fuel_month['Fuel'] = fuel_month.index.str.split('-', 1).str[1]
        fuel_year = fuel_year.append(fuel_month)
    


fuel_year

,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,Date,Fuel
0,,,,,,,,,,,,,,,,,,,,,
Date - Fuel,Daily MWH,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,00:00:00,Date,Fuel
01/01/07 - Coal,314609,3376.33,3368.08,3365,3364.7,3337.22,3340.4,3338.78,3341.01,3376,...,3330.98,3346.76,3361.06,3360.44,3367.97,3357.61,3362.5,3362.49,01/01/07,Coal
01/01/07 - Gas,272457,2250.33,2252.73,2257.9,2259.77,2204.44,2170.12,2178.86,2179.61,2140.66,...,3261.76,3170.22,3063.44,2953.63,2849.74,2773.19,2711.46,2627.17,01/01/07,Gas
01/01/07 - Hydro,688.957,3.8145,3.80921,3.81166,3.81056,3.81071,3.77384,3.77294,3.63702,3.35039,...,2.33929,2.34166,2.34897,2.56396,2.62091,2.61463,2.62372,2.73706,01/01/07,Hydro
01/01/07 - Nuclear,120060,1250.25,1249.94,1250.01,1250.19,1250.5,1250.24,1250.43,1250.21,1250.09,...,1251.51,1251.7,1251.78,1251.52,1251.72,1251.53,1251.65,1251.45,01/01/07,Nuclear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/31/08-Gas_GT,49652.5,320.107,316.465,301.339,304.209,298.801,312.904,293.603,279.836,270.427,...,702.111,682.112,675.011,646.608,661.991,630.076,554.272,497.851,12/31/08,Gas_GT
12/31/08-Hydro,516.273,4.44923,5.06086,5.05575,5.06356,5.29045,5.27509,5.26347,5.30844,5.25678,...,4.02702,4.0255,4.02099,4.01616,4.04127,4.03449,4.01772,4.07632,12/31/08,Hydro
12/31/08-Nuclear,123103,1281.42,1281.79,1281.88,1281.81,1281.64,1281.64,1281.74,1281.64,1281.71,...,1283.18,1283.48,1283.72,1283.52,1283.48,1283.39,1283.41,1283.29,12/31/08,Nuclear
12/31/08-Oth,8052.44,83.3321,83.7323,83.0951,83.4745,83.4692,82.9636,83.5771,83.5466,83.3796,...,79.2183,79.0335,79.6181,79.0559,79.5151,78.8804,78.879,80.4201,12/31/08,Oth
12/31/08-Wnd,53238.5,806.919,756.449,781.012,776.499,789.254,817.964,914.52,954.746,952.104,...,330.301,355.725,388.871,437.618,484.673,545.291,629.179,735.838,12/31/08,Wnd

In [144]:
# Define a hash function using hashlib.sha256
def hash_value(value):
    return hashlib.sha256(value.encode()).hexdigest()

In [145]:


# Create an empty DataFrame to store transposed rows
full_data = pd.DataFrame()
# Iterate over each row in the original DataFrame
for index, row in fuel_year.iterrows():
    # Remove the current row from the original DataFrame
    if index != 'Date - Fuel' and index != 'DateFuel' :

        modified_df = fuel_year.drop(index)
        fuel_type = row['Fuel']
        fuel_date = row['Date']#.astype(str)
        # Transpose the row and convert it to a DataFrame
        transposed_row = row.transpose()
        transposed_df = pd.DataFrame(transposed_row)

        # Concatenate the transposed row with the modified DataFrame
        #transposed_df = pd.concat([full_data, transposed_row], ignore_index=False)
        transposed_df['Fuel'] = fuel_type
        transposed_df['Date'] = fuel_date
        #transposed_df['Date'] = transposed_df['Date'].astype(str)

        transposed_df = transposed_df.drop('Fuel', axis=0)
        transposed_df = transposed_df.drop('Date', axis=0)

        # Reset the index to ensure that index 0 is present in the columns
        transposed_df.reset_index(drop=True, inplace=True)
        transposed_df.rename(columns={transposed_df.columns[0]: 'Demand'}, inplace=True)
        MWH = transposed_df.loc[0, 'Demand']
        transposed_df['Daily MWH'] = MWH
        # Drop the first row of the DataFrame
        transposed_df.drop(transposed_df.index[0], inplace=True)

        # Reset the index after dropping the first row
        transposed_df.reset_index(drop=True, inplace=True)

        transposed_df['Time'] = pd.to_datetime(transposed_df['Date']) + pd.to_timedelta((transposed_df.groupby('Date').cumcount() * 15), unit='minutes')
        transposed_df['Time'] = transposed_df['Time'].dt.time


        # Combine 'Date', 'Time', and 'Fuel' columns to create a new column 'Combined'
        transposed_df['Combined'] = transposed_df['Date'] + transposed_df['Time'].astype(str) + transposed_df['Fuel']
        # Apply the hash function to the 'Combined' column to create a new column 'HashedIndex'
        transposed_df['HashedIndex'] = transposed_df['Combined'].apply(hash_value)

        # Set the 'HashedIndex' column as the DataFrame index
        transposed_df.set_index('HashedIndex', inplace=True)

        full_data = full_data.append(transposed_df, ignore_index=False)
       

#transposed_df
full_data
#transposed_row

KeyError: '[nan] not found in axis'

In [24]:
melted_df.to_csv('test_output.csv', index=True)