In [1]:
#import libraries
import pandas as pd

In [5]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2008
#file naming structure changes in 2009 so that will be done in a diffrent loop
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:

        #account for misslabeling in october of 2007
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = list(year_data.columns)
            miss_label = list(fuel_month.columns)
            #correct misslabel
            fuel_month.columns = col_list
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year == 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            #rename the index to match naming pattern
            fuel_month.index = fuel_month.index.strftime('%Y-%m-%d') + ' - ' + fuel_month['Fuel']
            fuel_month = fuel_month.drop(columns=['Fuel'])
            #filter out old index records
            fuel_month = fuel_month[fuel_month.index.str.contains('-')]
            year_data = year_data.append(fuel_month)            

        elif year > 2008 and year < 2016 and year != 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year == 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year > 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0)
            year_data = year_data.append(fuel_month)
        

        else:   
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            year_data = year_data.append(fuel_month)
        
    # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the data from all months and years
all_data

,Daily MWH,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,22:45,23:00,23:15,23:30,23:45,0:00,01:15 (DST),01:30 (DST),01:45 (DST),02:00 (DST)
01/01/07 - Coal,314608.639900,3376.329577,3368.077206,3365.003007,3364.700590,3337.219223,3340.401121,3338.779986,3341.014301,3375.998789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Gas,272456.952300,2250.333739,2252.727205,2257.902081,2259.768252,2204.443372,2170.116980,2178.863551,2179.605680,2140.655363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Hydro,688.956912,3.814499,3.809214,3.811659,3.810560,3.810705,3.773842,3.772936,3.637019,3.350387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Nuclear,120060.021600,1250.245128,1249.936172,1250.009397,1250.187850,1250.503540,1250.240947,1250.433454,1250.212841,1250.094833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Oth,3743.903058,40.970577,41.076414,40.996679,41.211779,39.875432,38.641280,39.789598,39.754927,39.909498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1277.521610,1277.601614,1277.509454,1277.312147,1277.488193,1277.276178,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.097469,5.219245,18.643366,15.002416,4.763281,1.580591,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-57.648902,-52.646814,-20.507550,-10.509732,-10.269654,-44.427072,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5627.661612,5613.644307,5509.516104,5489.178341,5450.046703,5506.060958,NaN,NaN,NaN,NaN

In [3]:
all_data['Total'] = all_data['Total'].fillna(all_data['Daily MWH'])
all_data[all_data.columns[96]] = all_data[all_data.columns[96]].fillna(all_data[all_data.columns[97]])
all_data = all_data.drop(columns=['Daily MWH',all_data.columns[97]])

In [4]:

all_data.to_csv('test_output.csv', index=True)